html,
body {
  background-color: #333;
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* border: green 4px solid; */
}

main {
  background-color: #ffda00;
  display: flex;
  flex-direction: column;

  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto; */

  flex: 1 0 auto;
  /* position: relative; */
}

.start-button {
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  cursor: pointer;
}
